:root {
  --color-grey-medium: #666666;
  --color-grey-medium-light: #989898;
  --color-grey-medium-dark: #8b8b8b;
  --color-grey-light: #cccccc;
  --color-primary: #184387;
  --color-secondary: #4a80f5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  overscroll-behavior-y: none;
  height: -webkit-fill-available;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
