.bb {
  border-bottom: 1px solid var(--color-grey-light);
}

.center {
  margin: 0 auto;
  text-align: center;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

#error-page {
  line-height: 1.8;
  font-size: 0.8rem;
  padding: 80px 10px;
  width: 100%;
  overflow: auto;

  img {
    width: 100%;
    max-width: 500px;
  }
}

.btn {
  padding: 6px 20px;
  border: 0;

  &.primary {
    align-items: center;
    background-color: var(--color-primary);
    color: #ffffff;
    border-radius: 4px;
  }
}

.text {
  font-size: 0.8rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
  overscroll-behavior-y: none;
}

.cgm {
  color: var(--color-grey-medium);
}

.ml-2 {
  margin-left: 8px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.pb-3 {
  padding-bottom: 12px;
}

.plr {
  padding-left: 24px;
  padding-right: 24px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 0.8rem;
  color: var(--color-grey-medium);
}

h3 {
  font-size: 0.7rem;
  color: var(--color-grey-medium);
}

h4 {
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.24px;
  color: var(--color-grey-medium-light);
  text-transform: uppercase;
  opacity: 1;
}

#root,
#app-container {
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  position: relative;
  overflow: hidden;
}

#sidebar-content {
  flex-grow: 1;
  height: 10px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#sidebar-tel {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);

  img {
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 4px;
  }
}

#sidebar-drag-indicator {
  position: absolute;
  width: 30px;
  top: 6px;
  left: calc(50% - 15px);
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-grey-light);
  display: none;
}

#sidebar-header {
  user-select: none;
  border-bottom: 1px solid #cccccc;
}

.padding {
  padding: 18px;
}

#sidebar {
  width: 408px;
  display: flex;
  flex-direction: column;
}

.lang-btn {
  background: transparent;
  border: 0;
  font-size: 0.7rem;
  padding: 0 10px;
  vertical-align: text-top;
  color: var(--color-grey-medium);
  cursor: pointer;

  &.kn {
    padding-top: 5px;
  }

  &.selected {
    color: var(--color-primary);
    text-decoration: underline;
  }

  &:hover {
    color: var(--color-primary);
  }
}

@media screen and (min-width: 1000px) {
  #sidebar {
    height: 100% !important;
  }

  #sidebar-header {
    padding-left: 55px;
  }
}

#logo-banner {
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary);
}

#bmtc-logo {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

#map {
  width: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

#tab-arrow {
  width: 15px;
  height: 15px;
  margin-right: 6px;

  &.ta {
    transform: rotate(180deg);
  }
}

#tab-selection {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  cursor: pointer;
}

#sidebar-routes-heading {
  margin: 24px 24px 16px;
}

.route-item {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--color-grey-light);
  font-size: 0.7rem;
  line-height: 1.1rem;
  user-select: none;
  margin-bottom: 12px;
  flex-shrink: 0;

  &:hover {
    border: 1px solid var(--color-primary);
  }

  .text-light {
    color: var(--color-grey-medium);
  }

  &.highlighted {
    border: 1px solid var(--color-primary);

    .text-light {
      color: var(--color-grey-light);
    }

    .route-item-header {
      background-color: var(--color-primary);
      color: #ffffff;
    }
  }
}

.route-item-details {
  font-size: 0.7rem;
  line-height: 1.1rem;
  padding: 8px 6px 12px 12px;
}

.route-item-header {
  display: flex;
  padding: 8px 0 8px 16px;
  align-items: flex-start;
  cursor: pointer;
}

.route-item-icon {
  width: 10px;
  height: 12px;
  margin: 5px 6px 0 0;
}

.route-item-bus-name {
  width: 60px;
  flex-grow: 0;
  flex-shrink: 0;
}

.route-item-time {
  width: 60px;
  height: 26px;
  color: var(--color-grey-medium);
  border: 1px solid var(--color-grey-medium);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px 10px 0;
  cursor: pointer;

  &.disabled {
    color: var(--color-grey-light);
    border: 1px solid var(--color-grey-light);
  }

  &.selected {
    color: #ffffff;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
  }
}

.route-item-location {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  margin: 5px 0 14px;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1000px) {
  #sidebar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    //top: calc(100vh - 90px);
    z-index: 1000;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px -3px 6px #00000029;
    transition: border-radius 0.3s;

    &.sharp-corners {
      border-radius: 0;
    }
  }

  #sidebar-drag-indicator {
    display: initial;
  }
}

.user-location-indicator {
  //backdrop-filter: blur(10px) saturate(200%);
  background-color: #038cfc;
  background-size: 40%;
  box-shadow:
    0 1px 2px rgba(3, 140, 252, 0.12),
    0 1px 2px rgba(3, 140, 252, 0.24);
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;

  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: shadow;
}

.input-location-indicator {
  background-image: url(../icon-marker.svg);
  width: 26px;
  height: 33px;
  background-repeat: no-repeat;
  overflow: visible;
  margin-top: -15px;
}

@keyframes shadow {
  from {
    box-shadow: 0 0 0 5px rgba(3, 140, 252, 0.3);
  }

  50% {
    box-shadow:
      0 0 0 12px rgba(3, 140, 252, 0.14),
      0 0 0 4px rgba(3, 140, 252, 0.14);
  }

  to {
    box-shadow: 0 0 0 5px rgba(3, 140, 252, 0.3);
  }
}

#li-wrapper {
  position: fixed;
  padding: 12px;
  right: 0;
  left: 408px;
  top: 0;
  max-width: 400px;
}

#li-input {
  box-shadow: 0 3px 6px #00000029;
  border: 1px solid var(--color-grey-light);
  width: 100%;
  border-radius: 8px;
  height: 36px;
  font: inherit;
  font-size: 14px;
  padding-left: 40px;
  background-color: #ffffff;
  text-overflow: ellipsis;
  background-image: url(../icon-location.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 11px 8px;

  &:active,
  &:focus {
    outline: 0;
    border: 1px solid var(--color-primary);
  }
}

@media screen and (max-width: 1000px) {
  #li-wrapper {
    left: 0;
    max-width: initial;

    #search-loading {
      margin: -4px 0 0 40px;
    }
  }

  #li-input {
    background-image: none;
  }

  .maplibregl-ctrl-bottom-left,
  .maplibregl-ctrl-bottom-right {
    bottom: 60px;
  }
}

#search-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#search-heading {
  display: flex;
  padding: 8px;
  align-items: center;
}

#search-heading-text {
  font-size: 0.8rem;
  color: var(--color-primary);
}

#search-back {
  display: block;
  background-color: transparent;
  border: 0;
  padding: 4px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

#search-input-wrapper {
  padding: 0 4px;
  position: relative;
}

#search-input {
  width: 100%;
  border: 1px solid var(--color-grey-light);
  border-radius: 4px;
  height: 36px;
  font: inherit;
  font-size: 14px;
  padding-left: 32px;
  background-color: #ffffff;
  background-image: url(../icon-location.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 8px 7px;
}

#search-clear {
  position: absolute;
  right: 5px;
  height: 34px;
  top: 1px;
  border: 0;
  background-color: transparent;
  padding: 8px 10px;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
  }
}

#search-results {
  height: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px 0;
  overflow: auto;
}

#search-footer {
  background-color: var(--color-primary);
  align-items: center;
}

.search-footer-item {
  width: 100%;
  height: 40px;
  flex-basis: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  color: #ffffff;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-powered-by {
  font-size: 0.7rem;

  img {
    height: 20px;
  }

  display: flex;
  color: var(--color-grey-medium);
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.search-result-item {
  padding: 10px 10px 10px 40px;
  background-image: url(../icon-location.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 16px 12px;
  cursor: pointer;

  &:hover {
    background-color: #eaeaea;
  }
}

.search-result-main-text {
  font-size: 0.8rem;
  color: #222222;
  margin: 0 0 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search-result-secondary-text {
  font-size: 0.7rem;
  color: #888888;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#search-loading {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  &.left {
    justify-content: flex-start;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin {
  display: block;
  height: 24px;
  width: 24px;
  border: solid 3px var(--color-primary);
  border-bottom-color: var(--color-grey-light);
  border-radius: 50%;
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  margin-right: 5px;
}

#search-map {
  flex-grow: 1;
  flex-shrink: 1;
  height: 10px;
  position: relative;
}

#search-confirm-button {
  background-color: var(--color-primary);
  color: #ffffff;
  border: 0;
  height: 48px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#search-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  z-index: 1000;

  img {
    display: block;
    position: absolute;
    width: 26px;
    height: 33px;
    left: -13px;
    bottom: 0;
  }
}

.line-label {
  background-color: #ffffff;
  position: fixed;
  top: 20px;
  right: 20px;
}

.sel-bus-back {
  display: flex;
  align-items: center;
  border: 0;
  color: #666666;
  padding: 0;
  background-color: transparent;
  margin: 0 0 20px 0;

  .icon-back-arrow {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.sel-bus-title {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.sel-but-title-name {
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #1967D3;
  background-color: #1A73E9;
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 4px;
}

.sel-bus-from-to {
  font-size: 0.7rem;
  line-height: 1.8;
  margin-bottom: 20px;

  .text-light {
    color: var(--color-grey-medium);
  }
}

.sel-bus-stops-heading {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-primary);
  border-bottom: 1px solid #d9d9d9;
  line-height: 2;
}

.sel-bus-stop-row-container {
  position: relative;

  &.start {
    &::after {
      content: "";
      width: 4px;
      position: absolute;
      top: 28px;
      bottom: 0;
      left: 17px;
      z-index: -1;
      background-color: #1967D3;
    }
  }

  &.end {
    &::after {
      content: "";
      width: 4px;
      position: absolute;
      top: 0;
      height: 20px;
      left: 17px;
      z-index: -1;
      background-color: #1967D3;
    }
  }

  &.intermediate {
    &::after {
      content: "";
      width: 4px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 17px;
      z-index: -1;
      background-color: #1967D3;
    }
  }
}

.sel-bus-stop-row {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);

  &:hover {
    background-color: #fafafa;
    border: 1px solid #1967D3;
  }
}

.sel-bus-stop-row-text {
  flex-grow: 1;
  line-height: 1.6;
  padding-left: 10px;
}

.sel-bus-stop-chevron {
  width: 16px;
  height: 16px;
  opacity: 0.4;

  &.expanded {
    transform: rotate(90deg);
  }
}

.sel-bus-stop-row-selected-time {
  font-size: 0.7rem;
}

#sel-bus-stops-list-container {
  position: relative;
}

.sel-bus-stop-expanded-content {
  padding-left: 34px;
  font-size: 0.7rem;
}

.btn-stop-all-buses {
  background-color: #1967D3;
  color: #ffffff;
  font: inherit;
  display: inline-flex;
  align-items: center;
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;

  img {
    width: 20px;
  }
}

#bus-stop-timings-table {
  font-size: 0.8rem;

  th {
    text-align: left;
    cursor: pointer;
    padding: 10px 5px;
    border-bottom: 2px solid #dddddd;
  }

  td {
    padding: 10px 5px;
    border-bottom: 2px solid #f0f0f0;
    font-size: 0.7rem;
  }
}

.selected-stop-table-header {
  display: flex;

  img {
    margin-left: 5px;
    transform: rotateX(180deg);
  }

  &.reverse {
    img {
      transform: rotateX(0deg);
    }
  }
}

#selected-stop-heading {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  img {
    width: 30px;
    margin-bottom: -8px;
  }
}

.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right {
  bottom: 60px;
}